div:hover{
    border: 5px solid green;
    overflow: hidden;
    line-height: 20px;
}
div.corPrimaria{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
div.corSecundaria{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.corComplementar{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-style: italic;
}

div.corEscura{
    color: gree;color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.corClara{
    color: coral;
    font-style: italic;
}